/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GENERAL */

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 1.75em;
  color: #151E3D;
  scroll-behavior: smooth;
  background-color: #EFEEE2;
}

header {
  background-color: #2E5490;
  color: #C8C9C1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 3rem;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  left: -.9rem;
}

header.container {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.center-wrap {
  margin: auto;
  width: 60%;
  max-width: 55rem;
}

.hero {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  background-size: cover;
  padding: 5rem 0 5rem 0;
  margin-bottom: 5rem;
  background-image: url('../img/black-eyed-susan-outline.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.full-width {
  width: 100vw;
  max-width: 100%;
  min-width: 100vw;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container.column {
  flex-direction: column;
  align-content: space-around;
}

.col {
  padding: 5rem;
  margin: 0;
  box-sizing: border-box;
  min-width: 350px;
}

.col.nav {
  padding: 1rem 5rem;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
  flex-grow: 1;
}

.col-4 {
  width: 25%;
  flex-grow: 1;
}

.col-3-4 {
  width: 75%;
  flex-shrink: 2;
}

.col.title {
  padding-bottom: .25rem;
}

.image.col {
  padding: 0;
  min-width: 200px;
}

.main-footer .col {
  padding: .5rem 1rem .5rem 4rem;
  margin: 0;
  box-sizing: border-box;
  min-width: 350px;
}

img {
  width: 100%;
}

.orange-bg {
  background-color: #E1784D;
  color: #161E39;
}

.dark-bg {
  background-color: #161E39;
  color: #EFEEE3;
}

.light-bg {
  background-color: #EFEEE3;
  color: #161E39;
}

.dark-bg .highlight {
  color: #EFEEE3;
}

.blue-bg {
  background-color: #265495;
  color: #F7F7F1;
}

.blue-bg .highlight {
  color: #C8C9C1;
}

.blue-bg a {
  color: #FDF5F2;
  border-bottom: 3px solid #B7B976;
}

.dark-bg a {
  color: #F1E6B6;
  padding-bottom: .25em;
  border-bottom: 3px solid #E1784C;
}

a {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid #B5BA5E;
  color: #2B4F87;
}

footer.main-footer.col {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */

h1 {
  font-family: 'Coustard', serif;
  font-size: 5em;
  line-height: 1.25em;
  padding: 5rem 0;
}

p {
  max-width: 60rem;
  padding-bottom: 1rem;
}

header p,
footer p {
  font-size: .8rem;
  padding: 1rem;
}

header p {
  writing-mode: vertical-lr;
}

h2 {
  font-family: 'Coustard', serif;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.25em;
}

header p,
footer p,
h3,
.caption {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.5em;
}

.citation {
  font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 1.5em;
  font-size: .9rem;
}

.caption {
  font-size: .7rem;
}

.image-explainer-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

.tyfyc-title {
  font-style: italic;
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

blockquote p {
  font-size: 2em;
  line-height: 1.75em;
  padding: 2rem 0;
}

.highlight {
  font-family: 'Coustard', serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #161E39;
}

blockquote p {
  color: #265495;
  padding-left: 5rem;
  margin-bottom: .15rem;
}

blockquote footer {
  padding: 0 0 0 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 5rem;
}

blockquote footer::before {
  content: "\2014";
}

blockquote {
  margin: 0;
  background-image: url("../img/quote-marks.png");
  background-repeat: no-repeat;
  background-position: 0 15%;
  background-size: 60px;
}

.citation li {
  padding-bottom: 1.75rem;
}





/* TYPOGRAPHY — TIMELINE */

/* h2.timeline-image-placeholder {
  font-size: 10rem;
  line-height: 1em;
  padding: 0;
  margin: 0;
} */

h4.timeline-year {
  font-family: 'Coustard', serif;
  letter-spacing: .1em;
  font-size: 2rem;
  line-height: 1em;
  padding: .5rem 0;
  margin: .5rem 0;
}

p.timeline-descriptors {
  font-size: 1.2em;
  line-height: 1.25em;
  padding: 1em 0;
  margin: .5em 0;
}


/* WIDGETS & Widget behaviors */

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}


/* STORY SECTION */

.expanding-widget {
  background-color: #603B5D;
  color: #EFEEE2;
  padding: 4em;
  height: 40vh;;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* MEDIA QUERIES */

/* laptops and large tablets */
@media all and (max-width: 1399px) {

 .hidden-l {
   visibility: hidden;
 }

 .hidden-s {
   visibility: visible;
 }

}


/* large tablets */
@media all and (max-width: 1024px) {

  .container {
    flex-wrap: wrap;
  }

  .col {
    width: 100%;
  }

  .image.col-4 {
    padding: 0;
    width: 50%;
  }

  /* TYPOGRAPHY */

h1 {
  font-size: 4em;
}

main p,
.widget-trigger {
  font-size: 1.2rem;
  line-height: 1.75em;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.center-wrap: {
  margin: auto;
  width: 75vw;
}

   /* side nav media size changes to header-nav

   .hamburger,
   .closebtn {
     cursor: pointer;
   }

   .header-nav ul ul:before {
      border-color: transparent;
      content: none;
    }

   .header-nav {
      height: 100vh;
      width: 0;
      position: fixed;
      z-index: 150;
      top: 0;
      right: 0;
      margin: 0;
      background-color: white;
      border-left: 1px solid #FAD642;
      border-top: 1px solid #FAD642;
      border-bottom: 1px solid #FAD642;
      overflow-x: hidden;
      padding-top: 2em;
      transition: 0.5s;
   }

   .header-nav nav {
     right: 0;
     position: absolute;
     top: 20rem;
   }

   .header-nav ul {
     list-style: none;
   }

   .header-nav li {
     display: block;
     width: 100%;
     padding: .75em;
   }

   li.parent-drop-down ul {
     visibility: visible;
     position: static;
     border: 0;
   }

   .closebtn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 3rem;
      z-index: 200;
   }

   .closebtn a:hover,
   .closebtn a:focus {
     color: #431E1D;
     border: 0;
   }

 */
}

/* large smartphones & tablets */
@media all and (max-width: 775px) {

  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 3em;
  }

  .center-wrap {
    width: 85vw;
    margin: auto;
  }

  header {
    background-color: #161E3A;
    color: #C8C9C1;
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    width: 100vw;
    max-width: 100vw;
  }

}


/* smartphones */
@media all and (max-width: 575px) {

  .down-arrow {
    border: 0;
    border-width: 0;
    display: none;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 3em;
    padding: 1em 0;
  }

  .hero {
    height: auto;

  }

  h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  main p,
  .widget-trigger {
    font-size: 1rem;
    line-height: 1.75em;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .center-wrap {
    width: 90vw;
    margin: auto;
  }

  .container.card-game {
    width: 300px;
    height: auto;
  }

}

/* smartphones */
@media all and (max-width: 400px) {

  body{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .container.card-game {
    width: 300px;
    height: auto;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
